option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "npm start"
container_commands:
    01_bower_install:
        cwd: "/var/app/current/public"
        command: "sudo ../node_modules/bower/bin/bower install ../public/bower.json -F --allow-root"